
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: white;
  /*padding-top: 4rem;*/
}

/*headers*/
h1 {
  color: black;
  font-family: sans-serif;
  font-size: 4.8rem;
  margin-top: .5rem;
  line-height: 3rem;
  text-align: center;
  font-family: "cabin";
  /*  padding: 1rem;*/
}

/* h2 {
  color: white;
  font-family: sans-serif;
  font-size: 3.2rem;
  margin-top: .5rem;
  line-height: 3rem;
  text-align: center;
  font-family: "cabin";
}

h3 {
  color: white;
  font-family: sans-serif;
  font-size: 2.4rem;
  margin-top: .5rem;
  line-height: 3rem;
  text-align: left;
  font-family: "cabin";
} */

h4 {
  font-family: sans-serif;
  font-size: 2rem;
  margin-top: .5rem;
  line-height: 3rem;
  text-align: left;
  padding: 1rem;
  font-family: "cabin";
}

/* h5 {
  font-family: sans-serif;
  font-size: 1.8rem;
  margin-top: .5rem;
  line-height: 1.3;
  text-align: center;
  padding: 1rem;
  font-family: "cabin";
}

h6 {
  font-family: sans-serif;
  font-size: 1.6rem;
  margin-top: .5rem;
  line-height: 1.3;
  text-align: right;
  padding: 1rem;
  font-family: "cabin";
} */

h7 {
  color: black;
  font-family: sans-serif;
  font-size: 1.6rem;
  margin-top: .5rem;
  line-height: 3rem;
  text-align: center;
  padding: 1rem;
  font-family: "cabin";
}

h8 {
  color: black;
  font-family: sans-serif;
  font-size: 1.4rem;
  line-height: 3rem;
  text-align: right;
  font-family: "cabin";
  /* font-weight: bold; */
}

p {
  font-family: sans-serif;
  font-size: 1.6rem;
  margin-top: .5rem;
  line-height:  3rem;
  text-align: left;
  padding: 1rem;
  font-family: "lato";
}

/*mobile setup & order of sections for all devices and sizes. you can reorder sections here.*/
.container {
  background-color: green;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "nav"
    "hero"
    "section1"
    "section2"
    "section3"
    "section4"
    "footer";
    margin: 0 auto;
}

/*all sections*/
section {
  background-color: white;
  color: black;
  margin-top: 1rem;
  padding: 10rem 3rem;
}

/*specific sections*/
.nav {
  background-color: white;
  grid-area: nav;
  display: grid;
  padding: .5rem .5rem;
  text-align: right;
}

/* .nav-left {
  grid-area: nav-left;
  padding: 5rem;
  text-align: left;
} */

.nav-right {
  grid-area: nav-right;
  padding: 3rem 25rem;
  /* margin-right: 2rem; */
}


.hero {
  background-color: white;
  grid-area: hero;
  padding: 2.5rem 1rem;
  text-align: center;
}


/*question 1*/
.section1 {
  background-color: white;
  grid-area: section1;
  padding: 1rem 1rem;
}

/*question 2*/
.section2 {
  background-color: white;
  grid-area: section2;
  padding: 1rem 1rem;
}

/*question 3*/
.section3 {
  background-color: white;
  grid-area: section3;
  padding: 1rem 1rem;
}

/*question 4*/
.section4 {
  background-color: white;
  grid-area: section4;
  padding: 1rem 1rem;
}

.footer {
  background-color: white;
  grid-area: footer;
  display: grid;
  padding: 5rem 1rem;
  text-align: center;

}

.contact-icon {
  grid-area: contact-icon;
  padding: 1rem;
  text-align: center;
}

.outer-footer, h5 {
  grid-area: outer-footer;
  padding: 1rem;
  text-align: center;
}

@media only screen and (max-width: 767px) and (min-width: 320px){
  .nav-right {
  padding-right: 80px;
  text-align: center;
}
}

/*tablet setup; can be written to specific size ex: ipad.
you can reoder grid two column sectio here.*/
@media screen only screen and (max-width: 768px) and (min-width: 999px){
  .container {
    background-color: yellow;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-areas:
    "nav          nav           nav         nav"
    "hero         hero          hero        hero"
    ".            section1      section1    ."
    ".            section2      section2    ."
    ".            section3      section3    ."
    ".            section4      section4    ."
    "footer       footer        footer      footer";
    width: 90%;
    /*700px*/
    margin: 0 auto;
  }

.nav {
  grid-template-columns: 3fr  3fr  3fr  3fr;
  grid-template-areas:
  ".      .        nav-right      nav-right";
}

.footer {
  grid-template-columns: 3fr  3fr  3fr  3fr;
  grid-template-areas:
  ".          contact-icon    contact-icon      ."
  ".          outer-footer    outer-footer      .";

}
}

/*desktop setup; not written to specific size due to varies mobile devices.
you can reoder grid two column sectio here.*/
@media screen and (min-width: 1000px) {
  .container {
    background-color: pink;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-areas:
    "nav        nav         nav         nav"
    "hero       hero        hero        hero"
    ".          section1    section1    ."
    ".          section2    section2    ."
    ".          section3    section3    ."
    ".          section4    section4    ."
    "footer     footer      footer      footer";
    width: 90%;
    /*700px*/
    margin: 0 auto;
  }

  .nav {
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-areas:
    ".        .       nav-right       nav-right";
  }

  .footer {
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-areas:
    ".          contact-icon    contact-icon      ."
    ".          outer-footer    outer-footer      .";
  }
}
