* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: white;
  /*padding-top: 4rem;*/
}

/*headers*/
h1 {
  color: #212121;
  font-family: sans-serif;
  font-size: 4.0rem;
  margin-top: .5rem;
  line-height: 5rem;
  text-align: left;
  font-family: "cabin";
}

h2 {
  color: #668CA3;
  font-family: sans-serif;
  font-size: 3.2rem;
  margin-top: .5rem;
  line-height: 5rem;
  text-align: left;
  font-family: "cabin";
  border-bottom: 3px solid #668CA3;
}

h3 {
  color: black;
  font-family: sans-serif;
  font-size: 2.4rem;
  margin-top: .5rem;
  line-height: 3rem;
  text-align: left;
  font-family: "cabin";
}

h4 {
  color: black;
  font-family: sans-serif;
  font-size: 2rem;
  margin-top: .5rem;
  line-height: 5rem;
  text-align: left;
  font-family: "cabin";
  /*padding: 1rem;*/
}

h5 {
  color: black;
  font-family: sans-serif;
  font-size: 1.8rem;
  margin-top: 0rem;
  line-height: 3rem;
  text-align: left;
  font-family: "cabin";
}

h6 {
  color: black;
  font-family: sans-serif;
  font-size: 1.6rem;
  margin-top: .5rem;
  line-height: 3rem;
  text-align: left;
  font-family: "cabin";
}

h7 {
  color: black;
  font-family: sans-serif;
  font-size: 1.6rem;
  margin-top: .5rem;
  line-height: 3rem;
  text-align: center;
  padding: 1rem;
  font-family: "cabin";
}

h8 {
  color: white;
  font-family: sans-serif;
  font-size: 1.6rem;
  margin-top: .5rem;
  line-height: 3rem;
  text-align: center;
  padding: 1rem;
  font-family: "cabin";
}

h9 {
  color: #4A4A4A;
  font-family: sans-serif;
  font-size: 1.4rem;
  line-height: 3rem;
  text-align: right;
  font-family: "cabin";
}

p {
  color: black;
  font-family: sans-serif;
  font-size: 1.6rem;
  margin-top: .5rem;
  line-height: 3.5rem;
  text-align: left;
  font-family: "lato";
}

/*button funcationality throughout page*/
button {
  background-color: #668CA3;
  font-family: sans-serif;
  font-size: 1.6rem;
  margin-top: .5rem;
}

a:link {
  color: #668CA3;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #4A4A4A;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: #668CA3;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #4A4A4A;
  background-color: transparent;
  text-decoration: none;
}

/*mobiles setup & order of section for all devices and sizes. you can reorder section here.*/
.container {
  background-color: teal;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "nav"
    "hero"
    "intro-header"
    "intro-summary"
    "intro"
    "disc-header"
    "research"
    "personas"
    "img-personas"
    "process-header"
    "iterations"
    "sketches"
    "img-sketches1"
    "img-sketches2"
    "wireframes"
    "img-lofi"
    "img-hifi"
    "design-header"
    "product"
    "img-final"
    "test-header"
    "user-testing"
    "test-button"
    "con-header"
    "conclusion"
    "footer";
  margin: 0 auto;
}

/*all sections*/
section  {
  background-color: white;
  color: black;
  padding: 10rem 3rem;
}

/*side-by-side images with CSS flex property*/
.row  {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

/*specific sections*/
.nav  {
  background-color: white;
  grid-area: nav;
  display: grid;
  overflow: hidden;
  padding: .5rem .5rem;
}

.nav-left {
  grid-area: nav-left;
  padding: 3rem 0rem;
  text-align: left;
}

.nav-right {
  grid-area: nav-right;
  padding: 3rem 0rem;
  text-align: right;
}

.hero {
  background-color: #BAC5CB;
  grid-area: hero;
  /* display: grid; */
  padding: 2rem 0rem;
}

.case-image {
  grid-area: case-image;
  padding: 5rem 5rem;
  text-align: center;
}

/*Introduction*/
.intro-header {
  background-color: white;
  grid-area: intro-header;
  padding: 2rem 3rem;
}

.intro-summary {
  background-color: white;
  grid-area: intro-summary;
  padding: 2.5rem 3rem;
}

.intro {
  background-color: white;
  grid-area: intro;
  padding: 2.5rem 3rem;
}

/*Discovery*/
.disc-header {
  background-color: white;
  grid-area: disc-header;
  padding: 2rem 3rem;
}

.research {
  background-color: white;
  grid-area: research;
  padding: 2.5rem 3rem;
}

.flex-container1 {
  text-align: left;
  justify-content: center;
}

h5 {
  margin: 1rem;
}

p {
  margin: 1rem;
}

.flex-container2 {
  text-align: left;
  justify-content: center;
}


.personas {
  background-color: white;
  grid-area: personas;
  padding: 2.5rem 3rem;

}

.img-personas {
  background-color: white;
  grid-area: img-personas;
  padding: 2rem 3rem;
}

/*Process*/
.process-header {
  background-color: white;
  grid-area: process-header;
  padding: 2rem 3rem;
}

.iterations {
  background-color: white;
  grid-area: iterations;
  padding: 2.5rem 3rem;
}

.sketches {
  background-color: white;
  grid-area: sketches;
  padding: 2.5rem 3rem;
}

.img-sketches1 {
  background-color: white;
  grid-area: img-sketches1;
  padding: 1rem 3rem;
  text-align: center;
}

.img-sketches2 {
  background-color: white;
  grid-area: img-sketches2;
  padding: 1rem 3rem;
  text-align: center;
}

.wireframes {
  background-color: white;
  grid-area: wireframes;
  padding: 2.5rem 3rem;
}

.img-lofi {
  background-color: white;
  grid-area: img-lofi;
  padding: 1rem 3rem;
  text-align: center;
}

.img-hifi {
  background-color: white;
  grid-area: img-hifi;
  padding: 1rem 3rem;
  text-align: center;
}

/*Design*/
.design-header {
  background-color: white;
  grid-area: design-header;
  padding: 2rem 3rem;
}

.product {
  background-color: white;
  grid-area: product;
  padding: 2.5rem 3rem;
}

.img-final {
  background-color: white;
  grid-area: img-final;
  padding: 1rem 3rem;
  text-align: center;
}

/*Testing*/
.test-header {
  background-color: white;
  grid-area: test-header;
  padding: 2rem 3rem;
}

.user-testing {
  background-color: white;
  grid-area: user-testing;
  padding: 2.5rem 3rem;
}

.test-button {
  background-color: white;
  grid-area: test-button;
  padding: 2rem 3rem;
  text-align: center;
}

/*Conclusion*/
.con-header {
  background-color: white;
  grid-area: con-header;
  padding: 2rem 3rem;
}

.conclusion {
  background-color: white;
  grid-area: conclusion;
  padding: 2.5rem 3rem;
}

/*footer nav and contact info*/
.footer {
  background-color: white;
  grid-area: footer;
  padding: 5rem 1rem;
  text-align: center;
}

.contact-icon {
  grid-area: contact-icon;
  padding: 1rem;
}

.outer-footer {
  grid-area: outer-footer;
}

/* NOTE: this is for the ChartJS */
/* @media (min-width: 70rem) {
  .grid-contain {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
  }
} */

/* NOTE: hides logo on mobile */
@media only screen and (max-width: 767px) and (min-width: 320px) {
  .nav-left {
    display: none;
  }
}

/*tablet setup; can be written to specific size ex: ipad.
you can reoder grid two column sectio here.*/
@media screen and (min-width: 768px) {
  .container {
    background-color: yellow;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-areas:
      "nav              nav                 nav"
      "hero             hero                hero"
      ".                intro-header        ."
      ".                intro-summary       ."
      ".                intro               ."
      ".                disc-header         ."
      ".                research            ."
      ".                personas            ."
      ".                img-personas        ."
      ".                process-header      ."
      ".                iterations          ."
      ".                sketches            ."
      ".                img-sketches1       ."
      ".                img-sketches2       ."
      ".                wireframes          ."
      ".                img-lofi            ."
      ".                img-hifi1           ."
      ".                design-header       ."
      ".                product             ."
      ".                img-final           ."
      ".                test-header         ."
      ".                user-testing        ."
      ".                test-button         ."
      ".                con-header          ."
      ".                conclusion            ."
      "footer           footer                footer";
    width: 90%;
    margin: 0 auto;
  }

  .nav {
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-areas:
      "nav-left      nav-left     nav-right     nav-right";
  }

  .hero {
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-areas:
      ".      case-image      .";
  }

  .flex-container1 {
    flex-wrap: nowrap;
  }

  .flex-container2 {
    flex-wrap: nowrap;
  }

  .footer {
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-areas:
      ".       contact-icon      contact-icon     ."
      ".       outer-footer      outer-footer     .";
  }
}

/*desktop setup; not written to specific size due to varies mobile devices.
you can reoder grid two column sectio here.*/
@media screen and (min-width: 1000px) {
  .container {
    background-color: pink;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-areas:
      "nav              nav                 nav"
      "hero             hero                hero"
      ".                intro-header        ."
      ".                intro-summary       ."
      ".                intro               ."
      ".                disc-header         ."
      ".                research            ."
      ".                personas            ."
      ".                img-personas        ."
      ".                process-header      ."
      ".                iterations          ."
      ".                sketches            ."
      ".                img-sketches1       ."
      ".                img-sketches2       ."
      ".                wireframes          ."
      ".                img-lofi            ."
      ".                img-hifi            ."
      ".                design-header       ."
      ".                product             ."
      ".                img-final           ."
      ".                test-header         ."
      ".                user-testing        ."
      ".                test-button         ."
      ".                con-header          ."
      ".                conclusion            ."
      "footer           footer                footer";
    width: 90%;
    margin: 0 auto;
  }

  .nav {
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-areas:
      "nav-left      nav-left     nav-right     nav-right";
  }

  .hero {
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-areas:
      ".      case-image      .";
  }

  .flex-container1 {
    flex-wrap: nowrap;
  }

  .flex-container2 {
    flex-wrap: nowrap;
  }

  .footer {
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-areas:
      ".       contact-icon      contact-icon     ."
      ".       outer-footer      outer-footer     .";
  }
}
