* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: white;
  /*padding-top: 4rem;*/
}


/*mobiles setup & order of section for all devices and sizes. you can reorder section here.*/
.container {
  /* background-color: teal; */
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "nav"
    "hero"
    "intro-summary"
    "intro"
    "disc-header"
    "research"
    "swot"
    "survey1"
    /* "ChartJS1"
    "ChartJS2" */
    "survey2"
    /* "ChartJS3"
    "ChartJS4" */
    "survey3"
    "summary"
    "personas"
    "img-personas"
    "ia-header"
    "userflows"
    "sitemap"
    "process-header"
    "sketches"
    "wireframes"
    "mockups"
    "test-header"
    "user-testing"
    "test-button"
    "con-header"
    "conclusion"
    "footer";
  margin: 0 auto;
}

/*Body Sections*/
section {
  background-color: white;
  color: black;
  padding: 10rem 3rem;
}

/*side-by-side images with CSS flex property*/
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.hero {
  /* background-color: #BAC5CB; */
  grid-area: hero;
  padding: 0rem 0rem;
}

.case-image {
  grid-area: case-image;
  text-align: center;
  padding: 0rem 0rem;
}


.intro-summary {
  background-color: white;
  grid-area: intro-summary;
  padding: 0rem 3rem;
}

.intro {
  background-color: white;
  grid-area: intro;
  padding: 2rem 3rem;
}

/*Discovery*/
.disc-header {
  background-color: white;
  grid-area: disc-header;
  padding: 2rem 3rem;
}

.research {
  grid-area: research;
  padding: 0rem 3rem;
}

 .swot {
  grid-area: swot;
  padding: 2rem 3rem;
}

.flex-container1   {
  justify-content: center;
  /* padding: 20px !important; */

}

.flex-container2  {
  text-align: left;
  justify-content: center;

}

.survey1 {
  background-color: white;
  grid-area: survey1;
  padding: 1rem 3rem;
}


/* .ChartJS1 {
  background-color: white;
  grid-area: ChartJS1;
  padding: 10rem 3rem;
}

.ChartJS2 {
  background-color: white;
  grid-area: ChartJS2;
  padding: 10rem 3rem;
} */

.survey2 {
  background-color: white;
  grid-area: survey2;
  padding: 1rem 3rem;
}

.survey3 {
  background-color: white;
  grid-area: survey3;
  padding: 1rem 3rem;
}

/* .ChartJS3 {
  background-color: white;
  grid-area: ChartJS3;
  padding: 10rem 3rem;
} */

.Summary {
  background-color: white;
  grid-area: Summary;
  padding: 1rem 3rem;
}

.personas {
  background-color: white;
  grid-area: personas;
  padding: 1rem 3rem;

}

.img-personas {
  background-color: white;
  grid-area: img-personas;
  padding: 2rem 3rem;

}

/*IA*/
.IA-header {
  background-color: white;
  grid-area: IA-header;
  padding: 2rem 3rem;
}

.userflows {
  background-color: white;
  grid-area: userflows;
  padding: 1rem 3rem;
}

.sitemap {
  background-color: white;
  grid-area: sitemap;
  padding: 1rem 3rem;
}

/*Process*/
.process-header {
  background-color: white;
  grid-area: process-header;
  padding: 2rem 3rem;
}


.sketches {
  background-color: white;
  grid-area: sketches;
  padding: 1rem 3rem;
}


.wireframes {
  background-color: white;
  grid-area: wireframes;
  padding: 2.5rem 3rem;
}

.mockups {
  background-color: white;
  grid-area: mockups;
  padding: 1rem 3rem;
  text-align: center;
}


/*Testing*/
.test-header {
  background-color: white;
  grid-area: test-header;
  padding: 2rem 3rem;
}

.user-testing {
  background-color: white;
  grid-area: user-testing;
  padding: 1rem 3rem;
}

.test-button {
  background-color: white;
  grid-area: test-button;
  padding: 1rem 3rem;
  text-align: center;
}

/*Conclusion*/
.con-header {
  background-color: white;
  grid-area: con-header;
  padding: 2rem 3rem;
}

.conclusion {
  background-color: white;
  grid-area: conclusion;
  padding: 1rem 3rem;
}


/* NOTE: this is for the ChartJS */
/* @media (min-width: 70rem) {
  .grid-contain {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
  }
} */

/* NOTE: hides logo on mobile */
@media only screen and (max-width: 767px) and (min-width: 320px) {
  .nav-left {
    display: none;
  }
}

/*tablet setup; can be written to specific size ex: ipad.
you can reoder grid two column sectio here.*/
@media screen and (min-width: 768px) {
  .container {
    /* background-color: yellow; */
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-areas:
      "nav              nav                 nav"
      "hero             hero                hero"
      ".                intro-summary       ."
      ".                intro               ."
      ".                disc-header         ."
      ".                research            ."
      ".                swot                ."
      ".                survey1             ."
      /* ".                ChartJS1            ."
      ".                ChartJS2            ." */
      ".                survey2             ."
      ".                survey3             ."
      /* ".                ChartJS3            ."
      ".                ChartJS4            ." */
      ".                summary             ."
      ".                personas            ."
      ".                img-personas        ."
      ".                IA-header           ."
      ".                userflows           ."
      ".                sitemap             ."
      ".                process-header      ."
      ".                sketches            ."
      ".                wireframes          ."
      ".                mockups             ."
      ".                test-header         ."
      ".                user-testing        ."
      ".                test-button         ."
      ".                con-header          ."
      ".                conclusion            ."
      "footer           footer                footer";
    width: 100%;
    margin: 0 auto;
  }

  .nav {
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-areas:
      "nav-left      nav-left     nav-right     nav-right";
  }

  .hero {
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-areas:
      ".      case-image      .";
  }

  .flex-container1 {
    flex-wrap: nowrap;

  }

  .flex-container2 {
    flex-wrap: nowrap;
  }

  .footer {
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-areas:
      ".       contact-icon      contact-icon     ."
      ".       outer-footer      outer-footer     .";
  }
}

/*desktop setup; not written to specific size due to varies mobile devices.
you can reoder grid two column sectio here.*/
@media screen and (min-width: 1000px) {
  .container {
    /* background-color: pink; */
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-areas:
      "nav              nav                 nav"
      "hero             hero                hero"
      ".                intro-summary       ."
      ".                intro               ."
      ".                disc-header         ."
      ".                research            ."
      ".                swot                ."
      ".                survey1             ."
      /* ".                ChartJS1            ."
      ".                ChartJS2            ." */
      ".                survey2             ."
      ".                survey3             ."
      /* ".                ChartJS3            ."
      ".                ChartJS4            ." */
      ".                Summary             ."
      ".                personas            ."
      ".                img-personas        ."
      ".                IA-header           ."
      ".                userflows           ."
      ".                sitemap             ."
      ".                process-header      ."
      ".                sketches            ."
      ".                wireframes          ."
      ".                mockups             ."
      ".                test-header         ."
      ".                user-testing        ."
      ".                test-button         ."
      ".                con-header          ."
      ".                conclusion            ."
      "footer           footer                footer";
    width: 100%;
    margin: 0 auto;
  }

  .nav {
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-areas:
      "nav-left      nav-left     nav-right     nav-right";
  }

  .hero {
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-areas:
      ".      case-image      .";
  }

  .flex-container1 {
    flex-wrap: nowrap;
  }

  .flex-container2 {
    flex-wrap: nowrap;
  }

  .footer {
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-areas:
      ".       contact-icon      contact-icon     ."
      ".       outer-footer      outer-footer     .";
  }
}
