
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: white;
  /*padding-top: 4rem;*/
}

/*headers*/
h1 {
  color: black;
  font-family: sans-serif;
  font-size: 4.8rem;
  margin-top: .5rem;
  line-height: 10rem;
  text-align: center;
  /*  padding: 1rem;*/
}

h2 {
  color: black;
  font-family: sans-serif;
  font-size: 3.2rem;
  margin-top: 0rem;
  line-height: 0rem;
  text-align: left;
  border-bottom: 3px solid black;
  /*  padding: 1rem;*/
}

h3 {
  color: black;
  font-family: sans-serif;
  font-size: 3.2rem;
  margin-top: .5rem;
  line-height: 3rem;
  text-align: center;
  /*  padding: 1rem;*/
}

h4 {
  color: black;
  font-family: sans-serif;
  font-size: 2.4rem;
  margin-top: .5rem;
  line-height: 3rem;
  text-align: center;
  /*  padding: 1rem;*/
}

h5 {
  color: black;
  font-family: sans-serif;
  font-size: 1.8rem;
  margin-top: .5rem;
  line-height: 3rem;
  text-align: left;
  padding: 1rem;
}

h6 {
  color: black;
  font-family: sans-serif;
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 2rem;
  text-align: left;
  padding: 1rem;
}

h7 {
  color: black;
  font-family: sans-serif;
  font-size: 1.6rem;
  margin-top: .5rem;
  line-height: 3rem;
  text-align: center;
  padding: 1rem;
}

h8 {
  color: black;
  font-family: sans-serif;
  font-size: 1.4rem;
  line-height: 3rem;
  text-align: right;
  /* font-weight: bold; */
  /* padding: 1rem; */
}


p {
  font-family: sans-serif;
  font-size: 1.6rem;
  margin-top: .5rem;
  line-height: 3rem;
  text-align: left;
  padding: 1rem;
}

button {
  background-color: #668CA3;
  font-family: sans-serif;
  font-size: 1.6rem;
  margin-top: .5rem;
}

a:link {
  color: #668CA3;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #4A4A4A;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: #668CA3;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #4A4A4A;
  background-color: transparent;
  text-decoration: none;
}

/*mobiles setup & order of section for all devices and sizes. you can reorder section here.*/
.container {
  background-color: green;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "nav"
    /* "hero" */
    "case1"
    "case1-info"
    "case2"
    "case2-info"
    "footer"
    margin: 0 auto;
}

/*all sections*/
section {
  background-color: white;
  color: black;
  /* margin-top: 1rem; */
  padding: 10rem 3rem;
}

/*specific sections*/
.nav {
  background-color: white;
  grid-area: nav;
  display: grid;
  padding: .5rem .5rem;
  text-align: right;
}

.nav-left {
  grid-area: nav-left;
  padding: 5rem;
  /* margin-left: 0rem; */
  text-align: left;
}

.nav-right {
  grid-area: nav-right;
  padding: 3rem;
  /* margin-right: 0rem; */
  text-align: right;
}

/* .hero {
  background-color: white;
  grid-area: hero;
  padding: 18rem 1rem;

} */

.case1 {
  background-color: #CFE9E4;
  grid-area: case1;
  padding: 2rem 1rem;
  text-align: center;
}

.img-eco {
  grid-area: img-eco;
  padding: 2rem;
}

.case1-info, h2 {
  background-color: white;
  grid-area: case1-info;
  padding: 3rem 0rem;
  text-align: left;
}

.case-text1 {
  grid-area: case-text1;
  padding: 0rem 2rem;
}

.case2 {
  background-color: #FFDBDC;
  grid-area: case2;
  padding: 2rem 1rem;
  text-align: center;
}

.img-prism {
  grid-area: img-prism;
  padding: 2rem;
}

.case2-info, h2 {
  background-color: white;
  grid-area: case2-info;
  padding: 3rem .5rem;
  text-align: left;
}

.case-text2 {
  grid-area: case-text2;
  padding: 0rem 2rem;
}

.footer {
  background-color: white;
  grid-area: footer;
  display: grid;
  padding: 5rem 1rem;
  text-align: center;
}

/* .contact-info {
  grid-area: contact-info;
  padding: 1rem;
} */

/* .contact-icon {
  grid-area: contact-icon;
  padding: 1rem;
  text-align: center;
}

.outer-footer, h5 {
  grid-area: outer-footer;
  padding: 1rem;
  text-align: center;
} */


/*need for nav logo and text sizing for mobile?*/
/* @media screen and (min-width: 320px) {
  .img-logo {
  padding-left: 0px;
  padding-right: 110px;
  margin-left: 10px;

}
.nav-info {
  padding-right: 20px;
  padding-left: 70px;
  margin-right: 0px;
}
} */

/*tablet setup; can be written to specific size ex: ipad*/
@media screen and (min-width: 768px) {
  .container {
    background-color: yellow;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-areas:
    "nav            nav             nav             nav"
    /* "hero           hero            hero            hero" */
    "case1     case1      case1-info      case1-info"
    "case2     case2      case2-info      case2-info"
    "footer         footer          footer              footer";
    width: 90%;
    /*700px*/
    margin: 0 auto;
  }

  .nav {
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-areas:
    "nav-left     nav-left       nav-right     nav-right";
  }

  /*need for nav logo and text sizing for mobile?*/

  /* .nav-left {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-top: 10px;
  }

  .nav-right {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
  } */

  .case1 {
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-areas:
    "img-eco        img-eco         .            .";
  }

  .case1-info {
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-areas:
    ".        .         case-text1            case-text1";
  }

  .case2 {
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-areas:
    "img-prism      img-prism      .           .";
  }

  .case2-info {
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-areas:
    ".        .         case-text2            case-text2";
  }

  .footer {
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-areas:
    ".       contact-icon       contact-icon      ."
    ".       outer-footer       outer-footer      .";
  }

}

/*desktop setup; not written to specific size due to varies mobile devices*/
@media screen and (min-width: 1000px) {
  .container {
    background-color: pink;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-areas:
    "nav            nav             nav                  nav"
    /* "hero           hero            hero            hero" */
    "case1     case1      case1-info      case1-info"
    "case2     case2      case2-info      case2-info"
    "footer         footer          footer               footer";
    width: 90%;
    /*980px*/
    margin: 0 auto;
  }

.nav {
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-template-areas:
  "nav-left   nav-left     nav-right   nav-right";
}

/*need for nav logo and text sizing for mobile?*/
/* .nav-left {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-top: 10px;
}

.nav-right {
  padding: 50px;
  margin: 0px;
} */

.case1 {
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-template-areas:
  "img-eco        img-eco         .            .";
}

.case1-info {
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-template-areas:
  ".        .         case-text1            case-text1";
}

.case2 {
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-template-areas:
  "img-prism      img-prism      .           .";
}

.case2-info {
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-template-areas:
  ".        .         case-text2            case-text2";
}

.footer {
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-template-areas:
  ".        contact-icon      contact-icon      ."
  ".        outer-footer      outer-footer      .";
}

}
