
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: white;
  /*padding-top: 4rem;*/
}

/*headers*/
h1 {
  color: white;
  font-family: sans-serif;
  font-size: 4.8rem;
  margin-top: .5rem;
  line-height: 5rem;
  text-align: center;
  /*  padding: 1rem;*/
}

h2 {
  color: white;
  font-family: sans-serif;
  font-size: 3.2rem;
  margin-top: .5rem;
  line-height: 5rem;
  text-align: left;
  /*  padding: 1rem;*/
}

h3 {
  color: black;
  font-family: sans-serif;
  font-size: 2.4rem;
  margin-top: .5rem;
  line-height: 3rem;
  text-align: left;
  /*  padding: 1rem;*/
}

h4 {
  color: black;
  font-family: sans-serif;
  font-size: 2rem;
  margin-top: .5rem;
  line-height: 5rem;
  text-align: left;
  /*padding: 1rem;*/
}

h5 {
  color: black;
  font-family: sans-serif;
  font-size: 1.8rem;
  margin-top: .5rem;
  line-height: 3.5rem;
  text-align: left;
  /*padding: 1rem;*/
}

h6 {
  color: #4A4A4A;
  font-family: sans-serif;
  font-size: 1.6rem;
  margin-top: .5rem;
  line-height: 3rem;
  text-align: left;
  /* padding: 1rem; */
}

p {
  color: black;
  font-family: sans-serif;
  font-size: 1.6rem;
  margin-top: .5rem;
  line-height: 3.5rem;
  text-align: left;
  /*padding: 1rem;*/
}

/*mobiles setup & order of section for all devices and sizes. you can reorder section here.*/
.container {
  background-color: white;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
  "nav"
  "hero"
  "case-content"
  "case-image"
  "intro-header"
  "intro-summary"
  "intro"
  "disc-header"
  "research"
  "swot"
  "survey1"
  "ChartJS1"
  "ChartJS2"
  "survey2"
  "ChartJS3"
  "ChartJS4"
  "personas"
  "img-personas"
  "process-header"
  "iterations"
  "sketches"
  "img-sketches1"
  "img-sketches2"
  "wireframes"
  "home-mobile1"
  "dash-mobile1"
  "home-desk1"
  "dash-desk1"
  "design-header"
  "product"
  "mobile-hifi1"
  "desk-hifi1"
  "test-header"
  "user-testing"
  "test-button"
  "con-header"
  "conclusion"
  "footer";
    margin: 0 auto;
}

/*all sections*/
section {
  color: black;
  /*margin-top: 1rem;*/
  padding: 10rem 3rem;
}


.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*specific sections*/
.nav {
  background-color: white;
  grid-area: nav;
  display: grid;
  padding: 1rem 1rem;
}

.img-logo {
  grid-area: img-logo;
  padding: 1rem;
}

.nav-info {
  grid-area: nav-info;
  padding: 1rem;
}

.hero {
  background-color: #BAC5CB;
  grid-area: hero;
  display: grid;
  padding: 5rem 2rem;
}

/* .case-content {
  grid-area: case-content;
  padding: 15rem 5rem;
} */

.case-image {
  grid-area: case-image;
  padding: 5rem 5rem;
  text-align: center;
}


/*Introduction*/
.intro-header {
  background-color: #668CA3;
  grid-area: intro-header;
  padding: 2rem 23rem;

}

.intro-summary {
  background-color: white;
  grid-area: intro-summary;
  padding: 2.5rem 3rem;
}

.intro {
  background-color: white;
  grid-area: intro;
  padding: 2.5rem 3rem;
}

/*Discovery*/
.disc-header {
  background-color: #668CA3;
  grid-area: disc-header;
  padding: 2rem 23rem;
}

.research {
  background-color: white;
  grid-area: research;
  padding: 2.5rem 3rem;
}

.swot {
  background-color: white;
  grid-area: swot;
  padding: 2.5rem 3rem;
}

.survey1 {
  background-color: white;
  grid-area: survey1;
  padding: 2.5rem 3rem;
}

.survey2 {
  background-color: white;
  grid-area: survey2;
  padding: 2.5rem 3rem;
}

.ChartJS1 {
  background-color: white;
  grid-area: ChartJS1;
  padding: 10rem 3rem;
}

.ChartJS2 {
  background-color: white;
  grid-area: ChartJS2;
  padding: 10rem 3rem;
}

.ChartJS3 {
  background-color: white;
  grid-area: ChartJS3;
  padding: 10rem 3rem;
}

.ChartJS4 {
  background-color: white;
  grid-area: ChartJS4;
  padding: 10rem 3rem;
}

.personas {
  background-color: white;
  grid-area: personas;
  padding: 2.5rem 3rem;
}

.img-personas {
  background-color: white;
  grid-area: img-personas;
  padding: 2rem 3rem;
}


/*Process*/
.process-header {
  background-color: #668CA3;
  grid-area: process-header;
  padding: 2rem 23rem;
}

.iterations {
  background-color: white;
  grid-area: iterations;
  padding: 2.5rem 3rem;
}

.sketches {
  background-color: white;
  grid-area: sketches;
  padding: 2.5rem 3rem;
}

.img-sketches1 {
  background-color: white;
  grid-area: img-sketches1;
  padding: 1rem 6rem;
  text-align: center;
}

.img-sketches2 {
  background-color: white;
  grid-area: img-sketches2;
  padding: 1rem 6rem;
  text-align: center;
}

.wireframes {
  background-color: white;
  grid-area: wireframes;
  padding: 2.5rem 3rem;
}

.home-mobile1 {
  background-color: white;
  grid-area: home-mobile1;
  padding: 1rem 6rem;
  text-align: center;
}

.dash-mobile1 {
  background-color: white;
  grid-area: dash-mobile1;
  padding: 1rem 6rem;
  text-align: center;
}

.home-desk1 {
  background-color: white;
  grid-area: home-desk1;
  padding: 1rem 6rem;
  text-align: center;
}

.dash-desk1 {
  background-color: white;
  grid-area: dash-desk1;
  padding: 1rem 6rem;
  text-align: center;
}

/*Design*/
.design-header {
  background-color: #668CA3;
  grid-area: design-header;
  padding: 2rem 23rem;
}

.product {
  background-color: white;
  grid-area: product;
  padding: 2.5rem 3rem;
}

.mobile-hifi1 {
  background-color: white;
  grid-area: mobile-hifi1;
  padding: 1rem 6rem;
  text-align: center;
}


.desk-hifi1 {
  background-color: white;
  grid-area: desk-hifi1;
  padding: 1rem 6rem;
  text-align: center;
}

/*Testing*/
.test-header {
  background-color: #668CA3;
  grid-area: test-header;
  padding: 2rem 23rem;
}

.user-testing {
  background-color: white;
  grid-area: user-testing;
  padding: 2.5rem 3rem;
}

.test-button {
  background-color: white;
  grid-area: test-button;
  padding: 2rem 3rem;
  text-align: center;
}

/*Conclusion*/
.con-header {
  background-color: #668CA3;
  grid-area: con-header;
  padding: 2rem 23rem;
}

.conclusion {
  background-color: white;
  grid-area: conclusion;
  padding: 2.5rem 3rem;
}


/*footer nav and contact info*/
.footer {
  background-color: white;
  grid-area: footer;
  /* display: grid; */
  padding: 5rem 1rem;
  text-align: center;
}

.contact-info {
  grid-area: contact-info;
  padding: 1rem;
}

.contact-icon {
  grid-area: contact-icon;
  padding: 1rem;
}

/*tablet setup; can be written to specific size ex: ipad.
you can reoder grid two column sectio here.*/
@media screen and (min-width: 768px) {
  .container {
    background-color: yellow;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-areas:
    "nav              nav                 nav"
    "hero             hero                hero"
    "intro-header     intro-header        intro-header"
    ".                intro-summary       ."
    ".                intro               ."
    "disc-header      disc-header         disc-header"
    ".                research            ."
    ".                swot                ."
    ".                survey1             ."
    ".                ChartJS1            ."
    ".                ChartJS2            ."
    ".                survey2             ."
    ".                ChartJS3            ."
    ".                ChartJS4            ."
    ".                personas            ."
    ".                img-personas        ."
    "process-header   process-header     process-header"
    ".                sketches              ."
    ".                iterations            ."
    ".                img-sketches1         ."
    ".                img-sketches2         ."
    ".                wireframes            ."
    ".                home-mobile1          ."
    ".                dash-mobile1          ."
    ".                home-desk1            ."
    ".                dash-desk1            ."
    "design-header    design-header         design-header"
    ".                product               ."
    ".                mobile-hifi1          ."
    ".                desk-hifi1            ."
    "test-header      test-header           test-header"
    ".                user-testing          ."
    ".                test-button           ."
    "con-header       con-header            con-header"
    ".                conclusion            ."
    "footer           footer                footer";
    width: 90%;
    margin: 0 auto;
  }

  .nav {
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-areas:
    ".   .   nav-info";
  }

  /* .hero {
    grid-template-columns: 3fr  3fr 3fr 3fr;
    grid-template-areas:
    "case-content     case-content      case-image      case-image";
  } */

  .hero {
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-areas:
    ".      case-image      .";
  }



  .footer {
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-areas:
    ".      contact-info    ."
    ".      contact-icon    .";
  }

  }
/*desktop setup; not written to specific size due to varies mobile devices.
you can reoder grid two column sectio here.*/
@media screen and (min-width: 1000px) {
  .container {
    background-color: pink;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-areas:
    "nav              nav                 nav"
    "hero             hero                hero"
    "intro-header     intro-header        intro-header"
    ".                intro-summary       ."
    ".                intro               ."
    "disc-header      disc-header         disc-header"
    ".                research            ."
    ".                swot                ."
    ".                survey1             ."
    ".                ChartJS1            ."
    ".                ChartJS2            ."
    ".                survey2             ."
    ".                ChartJS3            ."
    ".                ChartJS4            ."
    ".                personas            ."
    ".                img-personas        ."
    "process-header   process-header     process-header"
    ".                iterations            ."
    ".                sketches              ."
    ".                img-sketches1         ."
    ".                img-sketches2         ."
    ".                wireframes            ."
    ".                home-mobile1          ."
    ".                dash-mobile1          ."
    ".                home-desk1            ."
    ".                dash-desk1            ."
    "design-header    design-header         design-header"
    ".                product               ."
    ".                mobile-hifi1          ."
    ".                desk-hifi1            ."
    "test-header      test-header           test-header"
    ".                user-testing          ."
    ".                test-button           ."
    "con-header       con-header            con-header"
    ".                conclusion            ."
    "footer           footer                footer";
    width: 90%;
    margin: 0 auto;
  }

  .nav {
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-areas:
    ".   .   nav-info";
  }

  /* .hero {
    grid-template-columns: 3fr  3fr 3fr 3fr;
    grid-template-areas:
    "case-content     case-content      case-image      case-image";
  } */

  .hero {
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-areas:
    ".      case-image      .";
  }


  .footer {
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-areas:
    ".      contact-info    ."
    ".      contact-icon    .";
  }

  }
